<div class="bg">
  <div class="borders">
    <ion-card style="box-shadow: none; height: 80px;">
      <img class="logo" src="assets/logoverde.svg">
      <!-- <ion-button href="/login" class="arrow-btn">
        <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-button> -->
      <!-- <ion-button class="add-btn">
          <ion-icon class="add-icon" ios="ios-add" md="md-add"></ion-icon>
        </ion-button> -->
    </ion-card>



    <p class="center-text">
      Create your pet's profile to make an easy appointment.</p>

    <ion-button class="address-btn animated infinite jello delay-10s" (click)="openPage()" expand="block">
      <ion-ripple-effect></ion-ripple-effect>
      ADD PET
    </ion-button>

  </div>
</div>