@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,800&display=swap');

.arrow-btn {
  position: absolute;
  top: 17px;
  --background: transparent;
  --background-activated: transparent;
  color: #414042;
  --color-activated: #414042;
}

.add-btn {
  --background:#37B34A;
  --background-activated: #37B34A;
  color: rgb(255, 255, 255);
  --color-activated: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  --border-radius: 25px;
  margin-top: 20px;
}

.arrow-icon {
  color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
}

.add-icon {
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 100px;
}

.borders {
  // border-bottom: 1px solid rgb(199, 199, 199);
  background-color: #37B34A;
  height: 100px;
  width: 100%;
}

.payment-card {
  box-shadow: none;
}

.input-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-left: 5px;
}

.name {
  border-bottom: 2px solid #37B34A;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.card-logos {
  background: url('/assets/pagos.png');
  background-size: cover;
  height: 300px;
}