<ion-content class="green-bg" no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-slide class="full-slide">
    <ion-img class="logo" src="assets/logoblanco.svg"></ion-img>
    <ion-slides pager="true" [options] = "slideOpts">
      <ion-slide>
        <!-- <ion-button class="skip-btn" expand="full">Skip</ion-button> -->
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/icon1.svg"></ion-img>
          <ion-card-header>
            <ion-card-title class="title-service">It's simple! Choose what type of pet and the service you want.
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/icon2.svg"></ion-img>
          <ion-card-header>
            <ion-card-title class="title-service">Then choose where and when you want the service.
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/icon3.svg"></ion-img>
          <ion-card-header>
            <ion-card-title class="title-service">Evaluate the groomers that are near your area either by price or by
              rating.
            </ion-card-title>
          </ion-card-header>
          <ion-button class="done-btn" (click)="openPage()" expand="block">
            <ion-ripple-effect></ion-ripple-effect>
            START</ion-button>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-slide>
</ion-content>