@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,800&display=swap');


.arrow-btn {
  position: absolute;
  top: 17px;
  --background: transparent;
  --background-activated: transparent;
  color: #414042;
  --color-activated: #414042;
}

.add-btn {
  position: absolute;
  top: 17px;
  right: 0;
  --background: transparent;
  --background-activated: transparent;
  color: #414042;
  --color-activated: #414042;
}

.arrow-icon {
  color: #37B34A;
  width: 25px;
  height: 25px;
}

.add-icon {
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 100px;
}

.borders {
  background-color: #37B34A;
  height: 100px;
  width: 100%;
}

.bg {
  --background: url('/assets/address-form.jpg');
  position: absolute;
  top: 0;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: bottom;
  z-index: -100;
}

.card2 {
  background: rgb(255, 255, 255);
  height: auto;
  box-shadow: 0 8px 6px -6px black;
  margin: 0;
  border-radius: 0;
  margin-bottom: 15px;
}

.card {
  background: rgb(255, 255, 255);
  height: auto;
  box-shadow: 0 8px 6px -6px black;
  margin: 0;
  border-radius: 0;
  margin-bottom: 15px;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 0;
  --background-activated: transparent;
  --background: transparent;
}

.delete-icon {
  color: grey;
  width: 25px;
  height: 25px;
  text-align: right;
}

.card-number {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding-top: 30px;
  font-weight: 400;
}

.use-btn {
  --border-radius: 25px;
  margin-right: 20px;
  margin-top: 50px;
  --background-activated: #37B34A;
}