<ion-content class="bg">
  <div class="borders">
    <ion-card style="box-shadow: none; height: 80px; margin: 0;">
      <img class="logo" src="assets/logoblanco.svg">
      <!-- <ion-button href="/login" class="arrow-btn">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </ion-button> -->
      <ion-button (click)="openPage()" class="add-btn">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon class="add-icon" ios="ios-add" md="md-add"></ion-icon>
      </ion-button>
    </ion-card>
  </div>


  <ion-card *ngFor="let card of cards" class="card">
    <ion-grid style="padding: 0;">
      <ion-row>
        <ion-col size="2">
          <img *ngIf="card.brand == 'Visa' " src="assets/visa.png" width="80px" height="50px"
            style="object-fit: contain; margin-top: 25px;">
          <img *ngIf="card.brand == 'American Express'" src="assets/americanexpress.png" width="80px" height="50px"
            style="object-fit: contain; margin-top: 30px;">
          <img *ngIf="card.brand == 'Diners Club' " src="assets/dinersclub.png" width="80px" height="50px"
            style="object-fit: contain; margin-top: 30px;">
          <img *ngIf="card.brand == 'Master Card' " src="assets/mastercard.png" width="80px" height="50px"
            style="object-fit: contain; margin-top: 30px;">
          <img *ngIf="card.brand == 'Stripe' " src="assets/stripepay.png" width="80px" height="50px"
            style="object-fit: contain; margin-top: 30px;">
          <img *ngIf="card.brand == 'JCB' " src="assets/jcb.png" width="80px" height="50px"
            style="object-fit: contain; margin-top: 30px;">
        </ion-col>
        <ion-col size="6">
          <p class="card-number">**** **** **** {{card.last4}}</p>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="deleteItem(card)" class="delete-btn">
            <ion-icon class="delete-icon" ios="ios-close" md="md-close"></ion-icon>
          </ion-button>
          <ion-button (click)="useCard(card)" class="use-btn">
            <ion-ripple-effect></ion-ripple-effect>
            Use card
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


</ion-content>