<ion-content class="bg">
  <div class="borders">
    <ion-card style="box-shadow: none; height: auto;">
      <img class="logo" src="assets/logoverde.svg">

    </ion-card>
  </div>

  <ion-button (click)="goBack()" class="arrow-btn">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
  </ion-button>

  <ion-card style="box-shadow: none; border-radius: 0; padding: 25px;">
    <ion-input [(ngModel)]=placeName class="place-name" type="text" placeholder="Place's Name"></ion-input>
    <ion-input [(ngModel)]=address class="address" type="text" placeholder="Address"></ion-input>
    <ion-input [(ngModel)]=apt class="suite" type="text" placeholder="Suit, Floor, Apt (Optional)"></ion-input>
    <ion-input [(ngModel)]=city class="city" type="text" placeholder="City"></ion-input>


          <!-- <ion-input [(ngModel)]=state class="state" type="text" placeholder="STATE"></ion-input> -->
          <ion-item lines="none" class="state">
            <ion-label>State</ion-label>
            <ion-select [(ngModel)]=state value="" placeholder="" okText="Ok" cancelText="Cancel">
              <ion-select-option value="Alabama">Alabama (AL)</ion-select-option>
              <ion-select-option value="Alaska">Alaska (AK)</ion-select-option>
              <ion-select-option value="Arizona">Arizona (AZ)</ion-select-option>
              <ion-select-option value="Arkansas">Arkansas (AR)</ion-select-option>
              <ion-select-option value="California">California (CA)</ion-select-option>
              <ion-select-option value="Carolina del Norte">Carolina del Norte (NC)</ion-select-option>
              <ion-select-option value="Carolina del Sur">Carolina del Sur (SC)</ion-select-option>
              <ion-select-option value="Colorado">Colorado (CO)</ion-select-option>
              <ion-select-option value="Connecticut">Connecticut (CT)</ion-select-option>
              <ion-select-option value="Dakota del Norte">Dakota del Norte (ND)</ion-select-option>
              <ion-select-option value="Dakota del Sur">Dakota del Sur (SD)</ion-select-option>
              <ion-select-option value="Delaware">Delaware (DE)</ion-select-option>
              <ion-select-option value="Florida">Florida (FL)</ion-select-option>
              <ion-select-option value="Georgia">Georgia (GA)</ion-select-option>
              <ion-select-option value="Hawái">Hawái (HI)</ion-select-option>
              <ion-select-option value="Idaho">Idaho (ID)</ion-select-option>
              <ion-select-option value="Illinois">Illinois (IL)</ion-select-option>
              <ion-select-option value="Indiana">Indiana (IN)</ion-select-option>
              <ion-select-option value="Iowa">Iowa (IA)</ion-select-option>
              <ion-select-option value="Kansas">Kansas (KS)</ion-select-option>
              <ion-select-option value="Kentucky">Kentucky (KY)</ion-select-option>
              <ion-select-option value="Luisiana">Luisiana (LA)</ion-select-option>
              <ion-select-option value="Maine">Maine (ME)</ion-select-option>
              <ion-select-option value="Maryland">Maryland (MD)</ion-select-option>
              <ion-select-option value="Massachusetts (MA)">Massachusetts (MA)</ion-select-option>
              <ion-select-option value="Míchigan">Míchigan (MI)</ion-select-option>
              <ion-select-option value="Minnesota">Minnesota (MN)</ion-select-option>
              <ion-select-option value="Misisipi">Misisipi (MS)</ion-select-option>
              <ion-select-option value="Misuri">Misuri (MO)</ion-select-option>

              <ion-select-option value="Montana">Montana (MT)</ion-select-option>
              <ion-select-option value="Nebraska">Nebraska (NE)</ion-select-option>
              <ion-select-option value="Nevada">Nevada (NV)</ion-select-option>
              <ion-select-option value="Nueva Jersey">Nueva Jersey (NJ)</ion-select-option>
              <ion-select-option value="Nueva York">Nueva York (NY)</ion-select-option>
              <ion-select-option value="Nuevo Hampshire">Nuevo Hampshire (NH)</ion-select-option>
              <ion-select-option value="Nuevo México">Nuevo México (NM)</ion-select-option>
              <ion-select-option value="Ohio">Ohio (OH)</ion-select-option>
              <ion-select-option value="Oklahoma">Oklahoma (OK)</ion-select-option>
              <ion-select-option value="Oregón">Oregón (OR)</ion-select-option>
              <ion-select-option value="Pensilvania">Pensilvania (PA)</ion-select-option>
              <ion-select-option value="Rhode Island">Rhode Island (RI)</ion-select-option>
              <ion-select-option value="Tennessee">Tennessee (TN)</ion-select-option>
              <ion-select-option value="Texas">Texas (TX)</ion-select-option>
              <ion-select-option value="Utah">Utah (UT)</ion-select-option>
              <ion-select-option value="Vermont">Vermont (VT)</ion-select-option>
              <ion-select-option value="Virginia">Virginia (VA)</ion-select-option>
              <ion-select-option value="Virginia Occidental">Virginia Occidental (WV)</ion-select-option>
              <ion-select-option value="Washington">Washington (WA)</ion-select-option>
              <ion-select-option value="Wisconsin">Wisconsin (WI)</ion-select-option>
              <ion-select-option value="Wyoming">Wyoming (WY)</ion-select-option>
      
            </ion-select>
          </ion-item>


      
          <!-- <ion-input [(ngModel)]=zip class="zipcode" type="text" placeholder="ZIPCODE"></ion-input> -->
          <ion-item lines="none" class="zipcode">
            <ion-label>Zipcode</ion-label>
            <ion-select  [(ngModel)]=zip value="" placeholder="" okText="Ok" cancelText="Cancel">
              <ion-select-option value="33004">33004</ion-select-option>
              <ion-select-option value="33009">33009</ion-select-option>
              <ion-select-option value="33019">33019</ion-select-option>
              <ion-select-option value="33020">33020</ion-select-option>
              <ion-select-option value="33021">33021</ion-select-option>
              <ion-select-option value="33023">33023</ion-select-option>
              <ion-select-option value="33024">33024</ion-select-option>
              <ion-select-option value="33025">33025</ion-select-option>
              <ion-select-option value="33026">33026</ion-select-option>
              <ion-select-option value="33027">33027</ion-select-option>
              <ion-select-option value="33028">33028</ion-select-option>
              <ion-select-option value="33029">33029</ion-select-option>
              <ion-select-option value="33060">33060</ion-select-option>
              <ion-select-option value="33062">33062</ion-select-option>
              <ion-select-option value="33063">33063</ion-select-option>
              <ion-select-option value="33064">33064</ion-select-option>
              <ion-select-option value="33065">33065</ion-select-option>
              <ion-select-option value="33066">33066</ion-select-option>
              <ion-select-option value="33067">33067</ion-select-option>
              <ion-select-option value="33068">33068</ion-select-option>
              <ion-select-option value="33069">33069</ion-select-option>
              <ion-select-option value="33071">33071</ion-select-option>
              <ion-select-option value="33073">33073</ion-select-option>
              <ion-select-option value="33076">33076</ion-select-option>
              <ion-select-option value="33301">33301</ion-select-option>
              <ion-select-option value="33304">33304</ion-select-option>
              <ion-select-option value="33305">33305</ion-select-option>
              <ion-select-option value="33306">33306</ion-select-option>
              <ion-select-option value="33308">33308</ion-select-option>
              <ion-select-option value="33309">33309</ion-select-option>

              <ion-select-option value="33311">33311</ion-select-option>
              <ion-select-option value="33312">33312</ion-select-option>
              <ion-select-option value="33313">33313</ion-select-option>
              <ion-select-option value="33314">33314</ion-select-option>
              <ion-select-option value="33315">33315</ion-select-option>
              <ion-select-option value="33316">33316</ion-select-option>
              <ion-select-option value="33317">33317</ion-select-option>
              <ion-select-option value="33319">33319</ion-select-option>
              <ion-select-option value="33321">33321</ion-select-option>
              <ion-select-option value="33322">33322</ion-select-option>
              <ion-select-option value="33323">33323</ion-select-option>
              <ion-select-option value="33324">33324</ion-select-option>
              <ion-select-option value="33325">33325</ion-select-option>
              <ion-select-option value="33326">33326</ion-select-option>
              <ion-select-option value="33327">33327</ion-select-option>
              <ion-select-option value="33328">33328</ion-select-option>
              <ion-select-option value="33330">33330</ion-select-option>
              <ion-select-option value="33331">33331</ion-select-option>
              <ion-select-option value="33332">33332</ion-select-option>
              <ion-select-option value="33334">33334</ion-select-option>
              <ion-select-option value="33351">33351</ion-select-option>
              <ion-select-option value="33441">33441</ion-select-option>
              <ion-select-option value="33442">33442</ion-select-option>
      
            </ion-select>
          </ion-item>



    <ion-input [(ngModel)]=phone class="phone" type="tel" placeholder="Phone"></ion-input>

    <ion-button (click)="saveAddressForm()" class="address-btn" expand="block">Add Address</ion-button>
  </ion-card>

</ion-content>