<div class="borders">
  <ion-card style="box-shadow: none; height: 80px;">
    <img class="logo" src="assets/logoblanco.svg">
    <ion-button href="/tabs/tabs/add-credit-card" class="arrow-btn">
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button>
    <!-- <ion-button href="/tabs/tabs/card-receiver" class="add-btn">
        Save
      </ion-button> -->
  </ion-card>

  <h1 class="service">Full Grooming</h1>

  <ion-card style="box-shadow: none;">
    <img class="cat-img" src="assets/gatis.png">
  </ion-card>

  <p class="payment-info"> If you choose to Pay Later - Fees Only, the remaining amount of the service must be paid to the groomer at time of
    service. Optional TIPS to be paid directly to the groomer.</p>

  <ion-button href="tabs/tabs/order-summary" class="payment-btn" expand="block">Pay Later - Fees Only</ion-button>

  <p class="payment-info">If you choose to Pay Full Service Now you will be charged in FULL; No further payment will be required at time of
    service, except optional TIPS to be paid directly to the groomer.</p>

  <ion-button href="tabs/tabs/order-summary" class="payment-btn" expand="block">Pay Full Service Now</ion-button>
</div>