<div class="borders">
  <ion-card style="box-shadow: none; height: 80px;">
    <img class="logo" src="assets/logoblanco.svg">
    <ion-button href="/tabs/tabs/order-summary" class="arrow-btn">
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button>
    <!-- <ion-button href="/tabs/tabs/card-receiver" class="add-btn">
          Save
        </ion-button> -->
  </ion-card>
</div>

<ion-content>
  <ion-card style="box-shadow: none;">
    <img class="cat-img" src="assets/lenguis.png">
  </ion-card>

  <p class="payment-info">Your order was created successfully!</p>

  <p class="payment-info2">You will receive a confirmation email.</p>

</ion-content>

<ion-button href="tabs/tabs/cards-orders" class="done-btn" expand="block">Done</ion-button>