<div class="borders">
        <ion-card style="box-shadow: none; height: 80px; margin: 0;">
            <img class="logo" src="assets/logoblanco.svg">
            <ion-button (click)="goBack()" class="arrow-btn">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button>
            <ion-button  href="tabs/tabs/address-form" class="add-btn">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon class="add-icon" ios="ios-add" md="md-add"></ion-icon>
            </ion-button>
        </ion-card>
    </div>

    <ion-content class="bg">

    <ion-card *ngFor="let ad of addrs" class="card">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-grid>
            <ion-row>
                <ion-col size="7">
                    <p [(ngModel)]=placeName
                        style="text-align: left; font-weight: 700; font-size: 13px; color: #37B34A;">{{ad.get("name")}}
                    </p>
                    <p [(ngModel)]=address [(ngModel)]=apt
                        style="text-align: left; font-weight: 700; font-size: 13px; color: rgb(168, 168, 168);">
                        {{ad.get("address1")}} {{ad.get("address2")}}</p>
                    <p [(ngModel)]=city [(ngModel)]=state [(ngModel)]=zip
                        style="text-align: left; font-weight: 700; font-size: 13px; color: rgb(168, 168, 168);">
                        {{ad.get("city")}} {{ad.get("state")}} {{ad.get("zipcode")}}</p>
                    <p [(ngModel)]=phone
                        style="text-align: left; font-weight: 700; font-size: 13px; color: rgb(168, 168, 168);">
                        {{ad.get("phone")}}</p>
    

                </ion-col>
                <ion-col size="5">
                    <ion-button (click) = "deleteAddress(ad)" class="delete-btn">
                        <ion-icon class="delete-icon" ios="ios-close" md="md-close"></ion-icon>
                    </ion-button>

                    <ion-button (click)="openPage(ad.get('zipcode'),ad.id)" class="address-btn">
                        Use address
                    </ion-button>

                    <ion-icon ion-button (click)="editInfo(ad)" class="edit-btn" ios="ios-create" md="md-create"></ion-icon>


                    <!-- <ion-button (click)="editInfo(ad)" class="edit-btn">
                        Edit
                    </ion-button> -->
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>

<ion-tab-bar slot="bottom" style="padding-top: 5px; padding-bottom: 20px;">
    <ion-tab-button (click)="openHome()" >
      <img src="assets/suv-icon.png" width="30px" height="30px">
      <ion-label style="color: #37B34A;">Services</ion-label>
    </ion-tab-button>
  
    <ion-tab-button (click)="openOrder()">
      <img  src="assets/calendar-icon.png" width="30px" height="30px">
      <ion-label style="color: #37B34A;">Orders</ion-label>
    </ion-tab-button>
  
    <ion-tab-button (click)="openSearch()">
      <img src="assets/search-icon.png" width="30px" height="30px">
      <ion-label style="color: #37B34A;">Search</ion-label>
    </ion-tab-button>
  
    <ion-tab-button (click)="openProfile()">
      <img src="assets/profile-icon.png" width="30px" height="30px">
      <ion-label style="color: #37B34A;">Profile</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>
