.arrow-btn {
  position: absolute;
  top: 17px;
  --background: transparent;
  --background-activated: transparent;
  color: #414042;
  --color-activated: #414042;
}

.add-btn {
  position: absolute;
  top: 17px;
  right: 0;
  --background: transparent;
  --background-activated: transparent;
  color: #414042;
  --color-activated: #414042;
}

.address-btn {
--border-radius: 25px;
font-weight: 300;
--background: #37B34A;
--background-activated: #37B34A;
margin-top: 80px;
margin-right: 20px;
}

.arrow-icon {
  color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
}

.add-icon {
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 100px;
}

.borders {
  // border-bottom: 1px solid rgb(199, 199, 199);
  background-color: #37B34A;
  height: 100px;
  width: 100%;
}

.bg {
  --background: url('/assets/address-form.jpg');
  position: absolute;
  top: 0;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: bottom;
  z-index: -100;
}

.card {
  border-radius: 0;
  background: white;
  box-shadow: 0 8px 6px -6px black;
  margin: 0;
  height: auto;
  margin-bottom: 20px;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  --background-activated: transparent;
  --background: transparent;
}

.delete-icon {
  color: grey;
  width: 25px;
  height: 25px;
  text-align: right;
}