<!-- <ion-content class="bg">
    <div class="borders">
      <ion-card style="box-shadow: none; height: 80px;">
        <img class="logo" src="assets/logoblanco.svg">
        <ion-button (click)="goBack()" class="arrow-btn">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </ion-button>
         <ion-button class="add-btn">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-icon class="add-icon" ios="ios-add" md="md-add"></ion-icon>
        </ion-button> 
      </ion-card>
    </div>
  
    <ion-button expand="block" class="input" readonly   (click)="openDatePicker()">
      <span>CHOOSE DATE</span>
    </ion-button>
  
  
    <li-ionic4-datepicker [(ngModel)]="mydate"
  [inputDateConfig]="datePickerObj">CHOOSE DATE</li-ionic4-datepicker>
  
   <ion-item class="date">
      <ion-label>CHOOSE TIME</ion-label>
      <ion-datetime displayFormat="h:mm, A " [(ngModel)]="mydate"></ion-datetime>
    </ion-item>

    <ion-item class="date" lines="none">
        <ion-label class="style-text">CHOOSE TIME</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="groomer time">Groomer Time</ion-select-option>
          <ion-select-option value="groomer time">Groomer Time</ion-select-option>
          <ion-select-option value="groomer time">Groomer Time</ion-select-option>
          <ion-select-option value="groomer time">Groomer Time</ion-select-option>
          <ion-select-option value="groomer time">Groomer Time</ion-select-option>
          <ion-select-option value="groomer time">Groomer Time</ion-select-option>
          <ion-select-option value="groomer time">Groomer Time</ion-select-option>
          <ion-select-option value="groomer time">Groomer Time</ion-select-option>
          <ion-select-option value="groomer time">Groomer Time</ion-select-option>
          <ion-select-option value="groomer time">Groomer Time</ion-select-option>
        </ion-select>
      </ion-item>
  
    <ion-button class="book-btn" (click)="searchDay()" expand="block">BOOK NOW</ion-button>
  </ion-content> -->