<div class="bg">
  <ion-card style="box-shadow: none;">
    <img class="logo" src="assets/logogrisverde.svg">
    <h3 style="text-align: center; font-size: 30px; font-weight: 300; font-family: 'Poppins', sans-serif;">Welcome Again</h3>
    <!-- <ion-button href="/welcome" class="arrow-btn">
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button> -->
  </ion-card>

  <ion-card class="input-card">
    <ion-input [(ngModel)]="email" clearInput type="email" placeholder="Email" class="email" expand="block">
      <ion-icon class="icon" ios="ios-mail" md="md-mail"></ion-icon>
    </ion-input>
    <ion-input [(ngModel)]="password" clearInput type="password" placeholder="Password" class="password" expand="block">
      <ion-icon class="icon" ios="ios-lock" md="md-lock"></ion-icon>
    </ion-input>
    <ion-button class="login-btn" (click)="singIn()" expand="block">
      <ion-ripple-effect></ion-ripple-effect>
      LOGIN</ion-button>
    <ion-button class="register-btn" (click)="openRegister()" expand="block">
      <ion-ripple-effect></ion-ripple-effect>
      REGISTER</ion-button>

    <ion-button class="forgot" href="/forgot" expand="block">
      <ion-ripple-effect></ion-ripple-effect>
      Forgot password?</ion-button>
    <ion-button (click)="loginFacebook()" class="fb-btn" expand="block">
      <ion-icon class="fb-icon" name="logo-facebook"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
      Connect with Facebook
    </ion-button>
  </ion-card>

</div>