@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,800&display=swap');

.bg {
  height: 100vh;
  background-image: url('/assets/loginscreen.png');
  background-size: cover;
}

.arrow-btn {
  position: absolute;
  top: 17px;
  --background: transparent;
  --background-activated: transparent;
  color: #414042;
  --color-activated: #414042;
}

.arrow-icon {
  color: #37B34A;
  width: 25px;
  height: 25px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 100px;
}

.email,
.password {
  font-weight: 500;
  font-size: 13px;
  color: rgb(170, 170, 170);
  border-bottom: 2px solid #37B34A;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif !important;
  --placeholder-opacity: 10;
  --padding-start: 10px;
}

.icon {
  width: 25px;
  height: 25px;
  color: #37B34A;
  padding-top: 13px;
}

.input-card {
  box-shadow: none;
  padding-left: 25px;
  padding-right: 25px;
}

.login-btn {
  --background: #37B34A;
  --background-activated: #414042;
  --border-radius: 25px;
  height: 40px;
  margin-top: 20px;
  --box-shadow: none;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}

.register-btn {
  --background: #414042;
  --background-activated: #37B34A;
  --border-radius: 25px;
  height: 40px;
  margin-top: 10px;
  --box-shadow: none;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}

.forgot {
  --background: rgba(255, 255, 255, 0);
  --background-activated: rgba(97, 77, 77, 0);
  color: rgb(122, 122, 122);
  --color-activated: rgb(122, 122, 122);
  font-size: 13px;
  font-weight: 700;
  // margin-top: 5px;
  padding: 0;
  --box-shadow: none;
  font-family: 'Poppins', sans-serif;
}

.fb-btn {
  --background: transparent;
  --background-activated: transparent;
  color: rgb(122, 122, 122);
  --color-activated: rgb(122, 122, 122);
  font-weight: 300;
  --box-shadow: none;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

.fb-icon {
  margin: 0;
  padding: 0;
  color: #4e76ce;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}