<div class="bg">
  <ion-card style="box-shadow: none;">
    <img class="logo" src="assets/logogrisverde.svg">
    <h3 style="text-align: center; font-size: 30px; font-weight: 300;">Welcome Again</h3>
    <!-- <ion-button href="/welcome" class="arrow-btn">
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button> -->
  </ion-card>

  <ion-card class="input-card">
    <ion-input type="email" placeholder="EMAIL" class="email" expand="block">
      <ion-icon class="icon animated fadeInLeft" ios="ios-mail" md="md-mail"></ion-icon>
    </ion-input>
    <ion-input type="email" placeholder="PASSWORD" class="password" expand="block">
      <ion-icon class="icon animated fadeInLeft" ios="ios-lock" md="md-lock"></ion-icon>
    </ion-input>
    <ion-button class="login-btn animated fadeInRight" href="/tabs/tabs/tab1" expand="block">LOGIN</ion-button>
    <ion-button class="register-btn animated fadeInRight" href="/register" expand="block">REGISTER</ion-button>

    <ion-button class="forgot" href="/forgot" expand="block">Forgot password?</ion-button>
    <ion-button class="fb-btn" expand="block">
      <ion-icon class="fb-icon" name="logo-facebook"></ion-icon>Connect with Facebook
    </ion-button>
  </ion-card>

</div>