<ion-tabs>

  <ion-tab-bar slot="bottom" style="padding-top: 5px; padding-bottom: 20px;">
    <ion-tab-button href="/home-pets">
      <img src="assets/suv-icon.png" width="30px" height="30px">
      <ion-label style="color: #37B34A;">Services</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history-order">
      <img src="assets/calendar-icon.png" width="30px" height="30px">
      <ion-label style="color: #37B34A;">Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <img src="assets/search-icon.png" width="30px" height="30px">
      <ion-label style="color: #37B34A;">Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="client-profile">
      <img src="assets/profile-icon.png" width="30px" height="30px">
      <ion-label style="color: #37B34A;">Profile</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>