@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,800&display=swap');

.arrow-btn {
  position: absolute;
  top: 17px;
  --background: transparent;
  --background-activated: transparent;
  color: #414042;
  --color-activated: #414042;
}

.add-btn {
  position: absolute;
  top: 17px;
  right: 0;
  --background: transparent;
  --background-activated: transparent;
  color: #414042;
  --color-activated: #414042;
}

.arrow-icon {
  color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
}

.add-icon {
  color: #37B34A;
  width: 30px;
  height: 30px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 100px;
}

.borders {
  // border-bottom: 1px solid rgb(199, 199, 199);
  background-color: #37B34A;
  height: 100px;
  position: absolute;
  top: 0;
  width: 100%;
}

.bg {
  background-image: url('/assets/green-bg.jpg');
  background-size: cover;
  height: 100vh;
  position: bottom;
}

.address-btn {
  --background: #37B34A;
  --background-activated: #37B34A;
  --border-radius: 25px;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  --box-shadow: none;
  color: rgb(255, 255, 255);
  --color-activated: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  margin-top:30px;
}