<div class="bg">
  <ion-card style="box-shadow: none;">
    <img class="logo" src="assets/logogrisverde.svg">
    <h3 style="text-align: center; font-size: 30px; font-weight: 300;">Forgot your password?</h3>
    <ion-button href="/login" class="arrow-btn">
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button>

    <p style="text-align: center; margin-top: 50px; margin-left: 35px; margin-right: 35px; font-weight: 300;">Enter your
      email and don't worry. We'll help you recover your password.</p>
  </ion-card>

  <ion-card class="input-card">
    <ion-input type="email" placeholder="EMAIL" class="email" expand="block">
      <ion-icon class="icon" ios="ios-mail" md="md-mail"></ion-icon>
    </ion-input>
    <ion-button class="login-btn" expand="block">LOGIN</ion-button>
  </ion-card>
</div>