.arrow-btn {
  position: absolute;
  top: 17px;
  --background: transparent;
  --background-activated: transparent;
  color: #414042;
  --color-activated: #414042;
}

.add-btn {
  position: absolute;
  top: 17px;
  right: 0;
  --background: transparent;
  --background-activated: transparent;
  color: #414042;
  --color-activated: #414042;
}

.arrow-icon {
  color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
}

.add-icon {
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 120px;
}

.borders {
  background-color: #37B34A;
  height: 100px;
}

.order-card {
  box-shadow: 0 8px 6px -6px black;
  height: 200px;
  border-radius: 25px;
}

.green-bg {
  background-color: #37B34A;
  height: 200px;
}

.grey-bg {
  background-color: #E6E7E8;
}

.avatar-border {
  z-index: 100;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 35px;
  left: 20px;
  border: 3px solid #37B34A;
}

.logo {
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.name {
  font-weight: 700;
  font-size: 20px;
  color: #37B34A;
  margin-bottom: 7px;
}

.age,
.size,
.breed {
  font-size: 13px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

.name,
.age,
.size,
.breed {
  text-align: center;
}

.edit-btn {
  --border-radius: 25px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  --background: #37B34A;
  --background-activated: #37B34A;
}

.edit {
  font-weight: 700;
  font-size: 12px;
}

.delete-btn {
  position: absolute;
  top: 0px;
  right: 0;
  --background: transparent;
  --background-activated: transparent;
  color: #414042;
  --color-activated: #414042;
}