<div class="borders">
  <ion-card style="box-shadow: none; height: 80px;">
    <img class="logo" src="assets/logoblanco.svg">
    <ion-button href="/login" class="arrow-btn">
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button>
  </ion-card>
</div>
<ion-content>
  <ion-card class="card-btn">
    <ion-button href="/tabs/tabs/tab2" class="grooming-btn" expand="block">
      <img src="assets/dog-cut.png">
    </ion-button>
    <h5 style="text-align: center; font-weight: 300; font-size: 20px; color: black;">Full Grooming</h5>
  </ion-card>
  <ion-card class="card-btn2">
    <ion-button class="grooming-btn" expand="block">
      <img src="assets/dog-bath.png">
    </ion-button>
    <h5 style="text-align: center; font-weight: 300; font-size: 20px; color: black;">Bath</h5>
  </ion-card>
</ion-content>