@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,800&display=swap');

.bg {
  --background: url('/assets/huesitos.jpg');
  background-size: cover;
}

.green-container {
  height: 100px;
  width: 100%;
  background: #ffffff;
}

.logo {
  width: 100px;
  height: 80px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.card-order {
  box-shadow: 0 8px 6px -6px black;
  // border-radius: 25px;
  background-color: #E6E7E8;
  height: 150px;
  // margin-left: 30px;
  margin-right: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 351px;
}

.frame {
  width: 170px;
  height: 150px;
  --border-radius: 0;
}

.img-fit {
  height: 150px;
  width: 170px;
  object-fit: cover;
}

.appointment-date {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 20px;
}

.status-app {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: red;
  font-size: 11px;
  margin-top: 20px;
}

.status-app2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #37b34a;
  font-size: 11px;
  margin-top: 20px;
}

.view-btn {
  margin-left: auto;
  margin-right: auto;
  --background: #37b34a;
  --background-activated: #37b34a;
  --border-radius: 25px;
  width: 90px;
  font-size: 12px;
  height: 30px;
  margin-top: 20px;
}