<ion-content>
  <div class="green-container">
    <ion-card style="box-shadow: none; margin: 0;">
      <img class="logo" src="assets/logoblanco.svg" width="100px" height="80px;">
    </ion-card>
    <ion-button (click)="goBack()" class="arrow-btn">
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button>
  </div>

  <ion-card style="box-shadow: none; margin: 0; border-radius: 0;">
    <img *ngIf="picture != null" src="{{picture}}" style="height: 300px; object-fit: cover;">
    <img *ngIf="picture == null" src="assets/fotogroo3.jpg" style="height: 300px; object-fit: cover;">
    <p class="status-app">Status: <span style="color: red;">{{status}}</span></p>
  </ion-card>

  <ion-list>
    <ion-item>
      <img class="icon" src="assets/carita de perrito.png">
      <p class="color-label">Pet: <span>{{name}}</span></p>
    </ion-item>
    <ion-item>
      <img class="icon" src="assets/calendario.png">
      <p class="color-label">{{date}}</p>
    </ion-item>
    <ion-item>
      <img class="icon" src="assets/calendario.png">
      <p class="color-label">Service: <span>{{service}}</span></p>
    </ion-item>
    <ion-item>
        <img class="icon" src="assets/guaguita.png">
      <p class="color-label">Address: <span>{{address}}</span></p>
    </ion-item>
  </ion-list>

  <ion-button *ngIf="status == 'Request' || status == 'Acepted' " (click)="presentAlertConfirm()"  class="cancel-btn" expand="block">Cancel Appointment</ion-button>
  <ion-button *ngIf="status == 'Finish' " (click)="makeReview()"  class="cancel-btn" expand="block">Make Review</ion-button>
</ion-content>