<ion-content>
  <div class="green-container">
    <ion-card style="box-shadow: none; margin: 0;">
      <img class="logo" src="assets/logoblanco.svg" width="100px" height="80px;">
    </ion-card>
    <p ion-button (click)="saveChanges()" class="edit-btn" ion-button>
      <ion-ripple-effect></ion-ripple-effect>
      Save
    </p>
  </div>

  <ion-input [(ngModel)]="fullName" class="input-color" clearInput type="text" placeholder="{{fullName}}"></ion-input>
  <ion-input [(ngModel)]="email" class="input-color" clearInput type="text" placeholder="{{email}}"></ion-input>
  <ion-input [(ngModel)]="phone" class="input-color" clearInput type="tel" placeholder="{{phone}}"></ion-input>


<ion-card class="card-btn">
  <p class="terms-btn"  ion-button><a href="http://groomrs.com/terms-conditions-groomer.html">Terms and Conditions</a></p>
  <p class="privacy-btn" ion-button>Privacy Policy</p>
  <p class="facebook-btn" ion-button>Facebook</p>
</ion-card>

<h5 style="text-align: center; font-size: 13px; font-family: 'Poppins', sans-serif;">Developed by PIXNABI</h5>

<ion-button (click)="closeAccount()" class="logout-btn" expand="block">
  <ion-ripple-effect></ion-ripple-effect>
  Logout</ion-button>


</ion-content>