<div class="borders">
  <ion-card style="box-shadow: none; height: 80px;">
    <img class="logo" src="assets/logoverde.svg">
    <ion-button (click)="goBack()" class="arrow-btn">
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button>
  </ion-card>
</div>

<ion-content>

  <ion-button expand="block" (click)="openCamera()" class="profile-btn">
    <img class="imgFit" src="assets/icon-cam.png">
  </ion-button>

  <p style="font-size: 10px; text-align: center; color: #37B34A; font-weight: 700; font-family: 'Poppins', sans-serif;">
    Edit Photo</p>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="dog()" class="dogBtn" expand="block">
          <ion-ripple-effect></ion-ripple-effect>
          DOG
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="cat()" class="catBtn" expand="block">
          <ion-ripple-effect></ion-ripple-effect>
          CAT
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card style="box-shadow: none; margin-left: 20px; margin-right: 20px; margin-bottom : none;">
    <ion-input [(ngModel)]="name" clearInput type="text" class=" name" placeholder="NAME"></ion-input>
    <ion-input [(ngModel)]="age" clearInput type="text" class=" age" placeholder="AGE"></ion-input>
    <!-- <ion-input [(ngModel)]="size" clearInput type="text" class=" size" placeholder="SIZE"></ion-input> -->
    <!-- <ion-input [(ngModel)]="breed" clearInput type="text" class=" breed" placeholder="BREED"></ion-input> -->
    <ion-item lines="none" class="size">
      <ion-label>SIZE</ion-label>
      <ion-select [(ngModel)]="size" value="" placeholder="" okText="Okay" cancelText="Cancel">
        <ion-select-option value="Small">Small</ion-select-option>
        <ion-select-option value="Medium">Medium</ion-select-option>
        <ion-select-option value="Large">Large</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" class="breed">
      <ion-label>BREED</ion-label>
      <ion-select [(ngModel)]="breed" value="" placeholder="" okText="Okay" cancelText="Cancel">
        <ion-select-option value="Affenpinscher Brussels Griffon">Affenpinscher Brussels Griffon</ion-select-option>
        <ion-select-option value="Afghan Hound">Afghan Hound</ion-select-option>
        <ion-select-option value="Airedale terrier">Airedale terrier</ion-select-option>
        <ion-select-option value="Akita">Akita</ion-select-option>
        <ion-select-option value="Alaskan Malmute">Alaskan Malmute</ion-select-option>
        <ion-select-option value="American English Coonhound">American English Coonhound</ion-select-option>
        <ion-select-option value="American Eskimo Dog">American Eskimo Dog</ion-select-option>
        <ion-select-option value="American Foxhound">American Foxhound</ion-select-option>
        <ion-select-option value="American Hairless Terrier">American Hairless Terrier</ion-select-option>
        <ion-select-option value="American Staffordshire Terrier">American Staffordshire Terrier</ion-select-option>
        <ion-select-option value="American Water Spaniel">American Water Spaniel</ion-select-option>
        <ion-select-option value="Anatolian Shepherd Dog">Anatolian Shepherd Dog</ion-select-option>
        <ion-select-option value="Australian Cattle Dog">Australian Cattle Dog</ion-select-option>
        <ion-select-option value="Australian Shepherd">Australian Shepherd</ion-select-option>
        <ion-select-option value="Australian terrier">Australian terrier</ion-select-option>
        <ion-select-option value="Basenji">Basenji</ion-select-option>
        <ion-select-option value="English Cocker Spaniel">Basset Hound</ion-select-option>
        <ion-select-option value="Beagle">Beagle</ion-select-option>
        <ion-select-option value="Bearded Collie">Bearded Collie</ion-select-option>
        <ion-select-option value="Beauceron">Beauceron</ion-select-option>
        <ion-select-option value="Bedlington Terrier">Bedlington Terrier</ion-select-option>
        <ion-select-option value="Belgian Malinois">Belgian Malinois</ion-select-option>
        <ion-select-option value="Belgian Sheepdog">Belgian Sheepdog</ion-select-option>
        <ion-select-option value="Belgian Tervuren">Belgian Tervuren</ion-select-option>
        <ion-select-option value="Bergamasco Sheepdog">Bergamasco Sheepdog</ion-select-option>
        <ion-select-option value="Berger Picard">Berger Picard</ion-select-option>
        <ion-select-option value="Bernese Mountain Dog">Bernese Mountain Dog</ion-select-option>
        <ion-select-option value="Bichon Frise">Bichon Frise</ion-select-option>
        <ion-select-option value="Black and Tan Coonhound">Black and Tan Coonhound</ion-select-option>
        <ion-select-option value="Bloodhound">Bloodhound</ion-select-option>
        <ion-select-option value="Bluetick Coonhound">Bluetick Coonhound</ion-select-option>
        <ion-select-option value="Boerboel">Boerboel</ion-select-option>
        <ion-select-option value="Border collie">Border collie</ion-select-option>
        <ion-select-option value="Border terrier">Border terrier</ion-select-option>
        <ion-select-option value="Borzoi">Borzoi</ion-select-option>
        <ion-select-option value="Boston Terrier">Boston Terrier</ion-select-option>
        <ion-select-option value="Bouvier des Flandres">Bouvier des Flandres</ion-select-option>
        <ion-select-option value="Beagle">Beagle</ion-select-option>
        <ion-select-option value="Beagle">Beagle</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="pet()" class="saveBtn" expand="block">
      <ion-ripple-effect></ion-ripple-effect>
      SAVE
    </ion-button>
  </ion-card>

</ion-content>