.bg {
  --padding-bottom: 150px;
}

.arrow-btn {
  position: absolute;
  top: 17px;
  --background: transparent;
  --background-activated: transparent;
  --box-shadow: none;
}

.arrow-icon {
  color: #37B34A;
  width: 25px;
  height: 25px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 120px;
}

.borders {
  background-color: rgb(255, 255, 255);
  height: 100px;
}

// .avatar-border {
//   z-index: 100;
//   width: 110px;
//   height: 110px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 30px;
//   border: 3px solid #37B34A;
// }

.imgFit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #37B34A;
}

.imgFit2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #37B34A;
  margin-left: auto;
  margin-right: auto;
}

.dogBtn {
  border: 2px solid #37B34A;
  border-radius: 25px;
  font-weight: 700;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  height: 50px;
  margin: 5px;
}

.catBtn {
  border: 2px solid #37B34A;
  border-radius: 25px;
  font-weight: 700;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  height: 50px;
  margin: 5px;
}

.name, .age, .size, .breed {
  font-weight: 700;
  font-size: 12px;
  color: grey;
  --padding-start: 10px;
  --placeholder-opacity: 10;
  border-bottom: 1px solid #37B34A;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.saveBtn {
  margin-top: 20px;
  margin-bottom: 80px;
  height: 50px;
  --border-radius: 25px;
  --background: #37B34A;
  --background-activated: #37B34A;
  font-weight: 400;
}

.profile-btn {
  height: auto;
  --background: transparent;
  --background-activated: transparent;
  margin-left: auto;
  margin-right: auto;
}