<div class="borders">
  <ion-card style="box-shadow: none; height: 80px;">
    <img class="logo" src="assets/logoblanco.svg">
    <!-- <ion-button href="/login" class="arrow-btn">
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button> -->
    <!-- <ion-button class="add-btn">
      <ion-icon class="add-icon" ios="ios-add" md="md-add"></ion-icon>
    </ion-button> -->
  </ion-card>
</div>

<ion-content class="bg">
  <ion-card style="box-shadow: none;">
    <ion-input [(ngModel)]="search" class="search" type="text" clearInput placeholder="SEARCH" (ionInput)="searchChange($event)">
      <ion-icon class="search-icon" ios="ios-search" md="md-search"></ion-icon>
    </ion-input>
  </ion-card>



  <!-- groomer card begin -->
    <ion-card ion-button *ngFor = "let groomer of groomers" (click)="openPage(groomer)" class="order-card">
      <ion-grid style="margin: 0; padding: 0;">
        <ion-row>

          <ion-col size="4" class="green-bg">
            <ion-avatar class="avatar-border">
              <!-- <img class="imgFit" src="assets/logo1.png"> -->
              <img *ngIf="groomer.get('profilePic') != null" class="imgFit" src="{{groomer.get('profilePic').url()}}">
            </ion-avatar>
          </ion-col>

          <ion-col size="8" class="grey-bg">
            <p class="name">{{groomer.get("businessName")}}</p>
            <!-- rating star -->
            <div class="ratings">
                <div class="star-ratings">
                    <!-- Cero Rating -->
                    <span *ngIf="groomer.get('ratingCount') == null || groomer.get('ratingCount') == 0 " ><ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                      </ion-icon> <ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                    </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                    </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                    </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                    </ion-icon></span>
                    <!-- One rating  -->
                   <span *ngIf="groomer.get('ratingCount') == 1" ><ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                    </ion-icon> <ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                  </ion-icon></span>
                    
                  <!-- Two rating  -->
                  <span *ngIf="groomer.get('ratingCount') == 2" ><ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                    </ion-icon> <ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                  </ion-icon></span>
              
                  <!-- Three rating  -->
                  <span *ngIf="groomer.get('ratingCount') == 3" ><ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                    </ion-icon> <ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: gray;" ios="ios-star" md="md-star">
                  </ion-icon></span>
              
                  <!-- Four rating  -->
                  <span *ngIf="groomer.get('ratingCount') == 4" ><ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                    </ion-icon> <ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px;  color: gray;" ios="ios-star" md="md-star">
                  </ion-icon></span>
              
                  <!-- Five rating  -->
                  <span *ngIf="groomer.get('ratingCount') == 5" ><ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                    </ion-icon> <ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                  </ion-icon><ion-icon style="margin: 5px; width: 25px; height: 25px; color: rgb(255, 217, 0);" ios="ios-star" md="md-star">
                  </ion-icon></span>
              
            
                  </div>
            </div>
            <!--<ion-button class="delete-btn">
              <ion-icon class="delete-icon" ios="ios-close" md="md-close"></ion-icon>
            </ion-button>-->
            <!-- /rating star -->
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>
 
  <!-- groomer card end -->

</ion-content>