<div class="borders">
  <ion-card style="box-shadow: none; height: 80px;">
    <img class="logo" src="assets/logoblanco.svg">
    <!-- <ion-button href="/login" class="arrow-btn">
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button> -->
    <!-- <ion-button class="add-btn">
      <ion-icon class="add-icon" ios="ios-add" md="md-add"></ion-icon>
    </ion-button> -->
  </ion-card>
</div>

<ion-content class="bg">
  <ion-card style="box-shadow: none;">
    <ion-input [(ngModel)]="search" class="search" type="text" clearInput placeholder="SEARCH" (ionInput)="searchChange($event)">
      <ion-icon class="search-icon" ios="ios-search" md="md-search"></ion-icon>
    </ion-input>
  </ion-card>



  <!-- groomer card begin -->
    <ion-card ion-button *ngFor = "let groomer of groomers" (click)="openPage(groomer)" class="order-card">
      <ion-grid style="margin: 0; padding: 0;">
        <ion-row>

          <ion-col size="4" class="green-bg">
            <ion-avatar class="avatar-border">
              <!-- <img class="imgFit" src="assets/logo1.png"> -->
              <img *ngIf="groomer.get('profilePic') != null" class="imgFit" src="{{groomer.get('profilePic').url()}}">
            </ion-avatar>
          </ion-col>

          <ion-col size="8" class="grey-bg">
            <p class="name">{{groomer.get("businessName")}}</p>
            <!-- rating star -->
            <div class="ratings">
              <ion-buttons class="star">
                <ion-button [disabled]="readonly" fill="clear" [size]="size"
                  *ngFor="let current of [1, 2, 3, 4, 5]; let i = index" (mouseover)="hoverRate = i + 1"
                  (mouseleave)="hoverRate = 0">
                  <ion-icon slot="icon-only" name="star"
                    [class.filled]="(i + 1 <= hoverRate || (!hoverRate && i + 1 <= rate))"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
            <!--<ion-button class="delete-btn">
              <ion-icon class="delete-icon" ios="ios-close" md="md-close"></ion-icon>
            </ion-button>-->
            <!-- /rating star -->
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>
 
  <!-- groomer card end -->

</ion-content>