<div class="borders">
  <ion-card style="box-shadow: none; height: 80px;">
    <img class="logo" src="assets/logoblanco.svg">
    <ion-button (click)="goBack()" class="arrow-btn">
      <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-button>
    <!-- <ion-button href="/tabs/tabs/card-receiver" class="add-btn">
            Save
          </ion-button> -->
  </ion-card>
</div>

<ion-content>
  <h1 class="review">Review Transaction</h1>
  <p class="text">Name: <span style="color: black; font-weight: 400;">{{name}}</span></p>
  <p class="text">Date: <span style="color: black; font-weight: 400;">{{day}}</span></p>
  <p class="text">Pet Name: <span style="color: black; font-weight: 400;"> Camila</span></p>
  <p class="text">Phone: <span style="color: black; font-weight: 400;">{{phone}}</span></p>
  <p class="text">Service: <span style="color: black; font-weight: 400;">{{serviceType}}</span></p>
  <p class="text">Dog Size: <span style="color: black; font-weight: 400;">{{petSize}}</span></p>
  <p class="text">Groomer: <span style="color: black; font-weight: 400;">{{nameGroomer}}</span></p>
  <p class="text">Appointment Date: <span style="color: black; font-weight: 400;">{{day}}</span></p>
  <p class="text">Time: <span style="color: black; font-weight: 400;"> 9:00AM</span></p>
  <p class="text">Payment Option: <span style="color: black; font-weight: 400;"> {{service}}</span></p>

  <div class="divider"></div>

  <p class="text2">Subtotal: <span style="color: black; font-weight: 400;">{{subtotalLabel}}</span></p>
  <p class="text2">Swipe Fee: <span style="color: black; font-weight: 400;">{{swipeFeedLabel}}</span></p>
  <p class="text2">Convinience Fee: <span style="color: black; font-weight: 400;">transactionLabel</span></p>
  <p class="text2">Total: <span style="color: black; font-weight: 400;">{{totalLabel}}</span></p>

  <ion-button (click)="makeTransaction()" class="done-btn" expand="block">Complete Booking</ion-button>
</ion-content>