@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,800&display=swap');


.bg {
  height: 100vh;
  --background: url('/assets/registerperro.png');
  background-size: cover;
}

.arrow-btn {
  position: absolute;
  top: 17px;
  --background: transparent;
  --background-activated: transparent;
  color: #414042;
  --color-activated: #414042;
}

.arrow-icon {
  color: #37B34A;
  width: 25px;
  height: 25px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 100px;
}

.input-card {
  box-shadow: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 0;
}

.input {
  font-weight: 500;
  font-size: 13px;
  color: rgb(170, 170, 170);
  border-bottom: 2px solid #37B34A;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif !important;
  --placeholder-opacity: 10;
  --padding-start: 10px;
}

.zip {
  font-size: 13px;
  border-bottom: 2px solid #37B34A;
  margin-bottom: 10px;
  
}

.zip2 {
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
  --color: rgb(41, 41, 41);
  --placeholder-opacity: 10;
}

.icon2 {
  margin: 0;
  width: 25px;
  height: 25px;
  color: #37B34A;
  padding-top: 13px; 
}

.icon {
  width: 25px;
  height: 25px;
  color: #37B34A;
  margin-right: 10px;
  padding-top: 13px;
}

.login-btn {
  --background: #37B34A;
  --background-activated: #414042;
  --border-radius: 25px;
  height: 50px;
  margin-top: 30px;
  --box-shadow: none;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 13px;
  font-family: 'Poppins', sans-serif !important;
}

.terms {
  --background: transparent;
  --background-activated: transparent;
  color: grey;
  --color-activated: grey;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;

}

.fb-btn {
  --background: transparent;
  --background-activated: transparent;
  color: rgb(122, 122, 122);
  --color-activated: rgb(122, 122, 122);
  font-weight: 300;
  --box-shadow: none;
  font-family: 'Poppins', sans-serif !important;

}

.fb-icon {
  margin: 0;
  padding: 0;
  color: #4e76ce;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.terms-card {
  box-shadow: none; 
  margin: 0; 
  position: absolute; 
  top: 413px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

